## Reading the SQL database

In [58]:
import pandas as pd
import numpy as np

## The Target variable

In [26]:
target = pd.read_csv('../data/sql_credit_risk_target.csv', index_col=0).set_index('SK_ID_CURR')

In [65]:
target.head()

            TARGET
SK_ID_CURR
100004         NaN
100006         0.0
100012         NaN
100014         0.0
100015         0.0

In [66]:
train = target.dropna()

In [67]:
train.head()

            TARGET
SK_ID_CURR
100006         0.0
100014         0.0
100015         0.0
100017         0.0
100018         0.0

In [74]:
test = target.reindex(target.index.difference(train.index))

In [75]:
test.head()

            TARGET
SK_ID_CURR
100004         NaN
100012         NaN
100034         NaN
100043         NaN
100055         NaN

In [76]:
train.to_csv('../data/processed/train_target.csv')
test.to_csv('../data/processed/test_target.csv')

## Credit Risk Features

In [78]:
df = pd.read_csv('../data/sql_credit_risk_features.csv', index_col=0).set_index('SK_ID_CURR')

In [80]:
df.columns

Index(['DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'BASEMENTAREA_AVG', 'ENTRANCES_AVG', 'FLAG_DOCUMENT_20',
       'FONDKAPREMONT_MODE', 'CNT_CHILDREN', 'FLAG_DOCUMENT_15', 'FLAG_EMAIL',
       'OWN_CAR_AGE'],
      dtype='object')

In [21]:
df.shape

(100000, 10)

In [10]:
df.columns

Index(['DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'BASEMENTAREA_AVG', 'ENTRANCES_AVG', 'FLAG_DOCUMENT_20',
       'FONDKAPREMONT_MODE', 'CNT_CHILDREN', 'FLAG_DOCUMENT_15', 'FLAG_EMAIL',
       'OWN_CAR_AGE'],
      dtype='object')

In [13]:
df.describe()

,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,BASEMENTAREA_AVG,ENTRANCES_AVG,FLAG_DOCUMENT_20,CNT_CHILDREN,FLAG_DOCUMENT_15,FLAG_EMAIL,OWN_CAR_AGE
count,99653.000000,100000.000000,41555.000000,49896.000000,100000.000000,100000.000000,100000.000000,100000.000000,34063.000000
mean,0.101211,-964.469220,0.088648,0.149930,0.000460,0.416790,0.001270,0.057110,12.029856
std,0.364602,826.789954,0.083451,0.100033,0.021443,0.722026,0.035615,0.232054,11.870149
min,0.000000,-4131.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,-1576.000000,0.044300,0.069000,0.000000,0.000000,0.000000,0.000000,5.000000
50%,0.000000,-757.000000,0.076500,0.137900,0.000000,0.000000,0.000000,0.000000,9.000000
75%,0.000000,-276.000000,0.112000,0.206900,0.000000,1.000000,0.000000,0.000000,15.000000
max,6.000000,0.000000,1.000000,1.000000,1.000000,19.000000,1.000000,1.000000,91.000000

In [16]:
df.nunique()

DEF_60_CNT_SOCIAL_CIRCLE       7
DAYS_LAST_PHONE_CHANGE      3577
BASEMENTAREA_AVG            3217
ENTRANCES_AVG                218
FLAG_DOCUMENT_20               2
FONDKAPREMONT_MODE             4
CNT_CHILDREN                  14
FLAG_DOCUMENT_15               2
FLAG_EMAIL                     2
OWN_CAR_AGE                   55
dtype: int64

In [20]:
df.isnull().sum()

DEF_60_CNT_SOCIAL_CIRCLE      347
DAYS_LAST_PHONE_CHANGE          0
BASEMENTAREA_AVG            58445
ENTRANCES_AVG               50104
FLAG_DOCUMENT_20                0
FONDKAPREMONT_MODE          68255
CNT_CHILDREN                    0
FLAG_DOCUMENT_15                0
FLAG_EMAIL                      0
OWN_CAR_AGE                 65937
dtype: int64