## Dropped Columns

In [132]:
import pandas as pd
import re

%matplotlib inline

In [133]:
low_count = ['AMT_REQ_CREDIT_BUREAU_DAY_y', 'APARTMENTS_MODE_y', 
             'FLOORSMAX_MEDI_y', 'NAME_TYPE_SUITE_y', 'NONLIVINGAREA_MEDI_y']
    # These have not so many nans but a lot for the target variable
not_so_many= ['EXT_SOURCE_3','YEARS_BEGINEXPLUATATION_AVG_y','FLOORSMAX_AVG_y']

In [134]:
csvs = pd.read_csv('../data/master.csv', index_col='SK_ID_CURR').drop(columns='Unnamed: 0') 
sql = pd.read_csv('../data/processed/full_sql.csv', index_col='SK_ID_CURR')
api = pd.read_csv('../data/api_data_clean.csv', index_col='sk_id_curr')

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (22,23,24,32,33,34,44,46,59,64,116) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [135]:
temp_1 = pd.merge(sql, csvs, how='left', right_index=True, left_index=True)

In [136]:
master = pd.merge(temp_1, api, how='left', right_index=True, left_index=True)

In [137]:
master[['EXT_SOURCE_3']].describe()

       EXT_SOURCE_3
count  80352.000000
mean       0.510923
std        0.195237
min        0.000527
25%        0.370650
50%        0.537070
75%        0.669057
max        0.896010

In [138]:
a = []
for col in master.columns:
    print(col)
    a.append(col)

TARGET
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
BASEMENTAREA_AVG
ENTRANCES_AVG
FLAG_DOCUMENT_20
FONDKAPREMONT_MODE
CNT_CHILDREN
FLAG_DOCUMENT_15
FLAG_EMAIL
OWN_CAR_AGE
TOTALAREA_MODE
FLOORSMIN_AVG
FLOORSMIN_MODE
ORGANIZATION_TYPE
NONLIVINGAREA_AVG
HOUSETYPE_MODE
LANDAREA_AVG
DAYS_ID_PUBLISH
ELEVATORS_AVG
COMMONAREA_MODE
FLAG_DOCUMENT_21
FLAG_PHONE
YEARS_BUILD_AVG
COMMONAREA_AVG
LIVE_CITY_NOT_WORK_CITY
REG_CITY_NOT_LIVE_CITY
LIVINGAPARTMENTS_MEDI
FLAG_DOCUMENT_10
FLAG_DOCUMENT_17
AMT_GOODS_PRICE
WEEKDAY_APPR_PROCESS_START_x
WALLSMATERIAL_MODE_x
FLAG_OWN_CAR_x
AMT_REQ_CREDIT_BUREAU_HOUR_x
FLAG_DOCUMENT_11_x
REGION_POPULATION_RELATIVE_x
NONLIVINGAPARTMENTS_AVG_x
DAYS_EMPLOYED_x
CNT_FAM_MEMBERS_x
FLAG_DOCUMENT_16_x
WEEKDAY_APPR_PROCESS_START_y
WALLSMATERIAL_MODE_y
FLAG_OWN_CAR_y
AMT_REQ_CREDIT_BUREAU_HOUR_y
FLAG_DOCUMENT_11_y
REGION_POPULATION_RELATIVE_y
NONLIVINGAPARTMENTS_AVG_y
DAYS_EMPLOYED_y
CNT_FAM_MEMBERS_y
FLAG_DOCUMENT_16_y
LIVE_REGION_NOT_WORK_REGION
REG_REGION_NOT_LIVE_REGION
NAME_HOUSING_TYPE
FLAG_DOCUMENT_2
NAME_CONTRACT_TYPE
APARTMENTS_MODE_x
FLAG_DOCUMENT_6_x
FLAG_OWN_REALTY_x
NONLIVINGAREA_MEDI_x
FLAG_DOCUMENT_3_x
FLAG_DOCUMENT_4_x
FLAG_DOCUMENT_18_x
NAME_TYPE_SUITE_x
FLOORSMAX_MEDI_x
AMT_REQ_CREDIT_BUREAU_DAY_x
APARTMENTS_MODE_y
FLAG_DOCUMENT_6_y
FLAG_OWN_REALTY_y
NONLIVINGAREA_MEDI_y
FLAG_DOCUMENT_3_y
FLAG_DOCUMENT_4_y
FLAG_DOCUMENT_18_y
NAME_TYPE_SUITE_y
FLOORSMAX_MEDI_y
AMT_REQ_CREDIT_BUREAU_DAY_y
FLAG_DOCUMENT_7_x
AMT_CREDIT_x
DEF_30_CNT_SOCIAL_CIRCLE_x
AMT_INCOME_TOTAL_x
LIVINGAPARTMENTS_AVG_x
FLAG_DOCUMENT_8_x
REG_REGION_NOT_WORK_REGION_x
OBS_60_CNT_SOCIAL_CIRCLE_x
YEARS_BEGINEXPLUATATION_AVG_x
FLOORSMAX_AVG_x
FLAG_DOCUMENT_7_y
AMT_CREDIT_y
DEF_30_CNT_SOCIAL_CIRCLE_y
AMT_INCOME_TOTAL_y
LIVINGAPARTMENTS_AVG_y
FLAG_DOCUMENT_8_y
REG_REGION_NOT_WORK_REGION_y
OBS_60_CNT_SOCIAL_CIRCLE_y
YEARS_BEGINEXPLUATATION_AVG_y
FLOORSMAX_AVG_y
REGION_RATING_CLIENT_W_CITY
EXT_SOURCE_1
DAYS_REGISTRATION
EXT_SOURCE_3
LIVINGAREA_MEDI
HOUR_APPR_PROCESS_START
FLOORSMIN_MEDI
FLAG_DOCUMENT_14
OCCUPATION_TYPE
LANDAREA_MEDI
REGION_RATING_CLIENT_W_CITY.1
EXT_SOURCE_1.1
DAYS_REGISTRATION.1
EXT_SOURCE_3.1
LIVINGAREA_MEDI.1
HOUR_APPR_PROCESS_START.1
FLOORSMIN_MEDI.1
FLAG_DOCUMENT_14.1
OCCUPATION_TYPE.1
LANDAREA_MEDI.1
AMT_ANNUITY
CODE_GENDER
EXT_SOURCE_2
FLAG_DOCUMENT_5
FLAG_EMP_PHONE
FLAG_WORK_PHONE
IS_KAEL
LIVINGAREA_AVG
NAME_FAMILY_STATUS
REGION_RATING_CLIENT
REG_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE_CAT
days_birth
flag_document_13
flag_document_9
name_education_type
name_income_type
obs_30_cnt_social_circle

In [139]:
df = pd.read_csv('../data/processed/master_2.csv', index_col=0)

In [140]:
df.columns.sort_values()

Index(['AMT_ANNUITY', 'AMT_CREDIT', 'AMT_GOODS_PRICE', 'AMT_INCOME_TOTAL',
       'CNT_CHILDREN', 'CODE_GENDER_M', 'DAYS_ID_PUBLISH',
       'DAYS_LAST_PHONE_CHANGE', 'DAYS_REGISTRATION',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'EXT_SOURCE_2',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18_x', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'FLAG_DOCUMENT_3_x', 'FLAG_DOCUMENT_4_x',
       'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6_x', 'FLAG_DOCUMENT_7',
       'FLAG_DOCUMENT_8', 'FLAG_EMAIL', 'FLAG_EMP_PHONE', 'FLAG_OWN_REALTY_x',
       'FLAG_PHONE', 'FLAG_WORK_PHONE', 'HOUR_APPR_PROCESS_START',
       'LIVE_CITY_NOT_WORK_CITY', 'LIVINGAREA_AVG',
       'NAME_FAMILY_STATUS_Married', 'NAME_FAMILY_STATUS_Separated',
       'NAME_FAMILY_STATUS_Single / not married', 'NAME_FAMILY_STATUS_Unknown',
       'NAME_FAMILY_STATUS_Widow', 'NAME_TYPE_SUITE_x_Children',
       'NAME_TYPE_SUITE_x_Family', 'NAME_TYPE_SUITE_x_Group of people',
       'NAME_TYPE_SUITE_x_Other_B', 'NAME_TYPE_SUITE_x_Spouse, partner',
       'NAME_TYPE_SUITE_x_Unaccompanied', 'NAME_TYPE_SUITE_x_�Q��',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'TARGET', 'days_birth', 'flag_document_13',
       'flag_document_9', 'name_education_type_Higher education',
       'name_education_type_Incomplete higher',
       'name_education_type_Lower secondary',
       'name_education_type_Secondary / secondary special',
       'name_income_type_Maternity leave', 'name_income_type_Pensioner',
       'name_income_type_State servant', 'name_income_type_Student',
       'name_income_type_Unemployed', 'name_income_type_Working',
       'obs_30_cnt_social_circle'],
      dtype='object')

## EXT SOURCE

In [141]:
master['EXT_SOURCE_2'] = pd.to_numeric(master['EXT_SOURCE_2'].apply(lambda x: x.split('%')[0]), errors='coerce') / 100

In [142]:
master['EXT_SOURCE'] = master[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)

In [143]:
master['EXT_SOURCE'] = master['EXT_SOURCE'].fillna(master['EXT_SOURCE'].mean())

In [144]:
df['EXT_SOURCE'] = master['EXT_SOURCE']

In [145]:
df = df.drop(columns='EXT_SOURCE_2')

## Flags

In [146]:
flags = []
pattern = re.compile("FLAG|flag")
for col in df.columns:
    if pattern.search(col):
        flags.append(col)

In [147]:
df['total_flags'] = df[flags].sum(axis=1) ** 2

In [148]:
df.to_csv('../data/processed/master_3.csv')

In [149]:
df.head()

,TARGET,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_20,CNT_CHILDREN,FLAG_DOCUMENT_15,FLAG_EMAIL,DAYS_ID_PUBLISH,FLAG_DOCUMENT_21,FLAG_PHONE,...,name_education_type_Lower secondary,name_education_type_Secondary / secondary special,name_income_type_Maternity leave,name_income_type_Pensioner,name_income_type_State servant,name_income_type_Student,name_income_type_Unemployed,name_income_type_Working,EXT_SOURCE,total_flags
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100004,NaN,0.0,-815.0,0,0,0,0,-2531,0,1,...,0,1,0,0,0,0,0,1,0.642733,16
100006,0.0,0.0,-617.0,0,0,0,0,-2437,0,0,...,0,1,0,0,0,0,0,1,0.650400,9
100012,NaN,0.0,-1673.0,0,0,0,0,-3992,0,0,...,0,1,0,0,0,0,0,1,0.746600,4
100014,0.0,0.0,-844.0,0,1,0,0,-738,0,0,...,0,0,0,0,0,0,0,1,0.445202,9
100015,0.0,0.0,-2396.0,0,0,0,0,-2512,0,1,...,0,1,0,1,0,0,0,0,0.643380,9

## Part 4

In [150]:
df = df.drop(columns=['DEF_30_CNT_SOCIAL_CIRCLE', 'obs_30_cnt_social_circle'])

In [151]:
df['SOCIAL'] = df['DEF_60_CNT_SOCIAL_CIRCLE'].multiply(df['OBS_60_CNT_SOCIAL_CIRCLE'])

## Moar

In [159]:
df['LIVINGAREA_AVG'].apply(lambda x: None if x == -99999 else x).isnull().sum()

50032

In [160]:
df = df.drop(columns=['LIVINGAREA_AVG'])

In [164]:
df['income_perc'] = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']

In [165]:
df['income_perc']

SK_ID_CURR
100004    0.100000
100006    0.219900
100012    0.150000
100014    0.188240
100015    0.277947
100017    0.128740
100018    0.173429
100019    0.128000
100030    0.123050
100032    0.211800
100034    0.100000
100035    0.084077
100040    0.243667
100043    0.116955
100045    0.175136
100048    0.144178
100049    0.120433
100051    0.238422
100055    0.285483
100058    0.125000
100059    0.064067
100060    0.191647
100062    0.400889
100063    0.253100
100069    0.075737
100071    0.483275
100078    0.244350
100086    0.161300
100088    0.060000
100098    0.060000
            ...
456184    0.150633
456187    0.123729
456195    0.159524
456196    0.088889
456198    0.218200
456199    0.063671
456205    0.184775
456207    0.136364
456210    0.114550
456211    0.286880
456213    0.227100
456214    0.170400
456215    0.325062
456217    0.106787
456219    0.281160
456227    0.166455
456228    0.065958
456233    0.102620
456234    0.112944
456235    0.350250
456236    0.074262
456237    0.279100
456239    0.132075
456242    0.263477
456244    0.137862
456245    0.146556
456246    0.112381
456249    0.196000
456252    0.166687
456253    0.195941
Name: income_perc, Length: 100000, dtype: float64

In [ ]:
df.to_csv('../data/processed/master_4.csv')