## Dropped Columns

In [1]:
import pandas as pd
import re

%matplotlib inline

In [37]:
low_count = ['AMT_REQ_CREDIT_BUREAU_DAY_y', 'APARTMENTS_MODE_y', 
             'FLOORSMAX_MEDI_y', 'NAME_TYPE_SUITE_y', 'NONLIVINGAREA_MEDI_y']
    # These have not so many nans but a lot for the target variable
not_so_many= ['EXT_SOURCE_3','YEARS_BEGINEXPLUATATION_AVG_y','FLOORSMAX_AVG_y']

In [38]:
csvs = pd.read_csv('../data/master.csv', index_col='SK_ID_CURR').drop(columns='Unnamed: 0') 
sql = pd.read_csv('../data/processed/full_sql.csv', index_col='SK_ID_CURR')
api = pd.read_csv('../data/api_data_clean.csv', index_col='sk_id_curr')

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (22,23,24,32,33,34,44,46,59,64,116) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
temp_1 = pd.merge(sql, csvs, how='left', right_index=True, left_index=True)

In [40]:
master = pd.merge(temp_1, api, how='left', right_index=True, left_index=True)

In [41]:
master[['EXT_SOURCE_3']].describe()

       EXT_SOURCE_3
count  80352.000000
mean       0.510923
std        0.195237
min        0.000527
25%        0.370650
50%        0.537070
75%        0.669057
max        0.896010

In [18]:
a = []
for col in master.columns:
    print(col)
    a.append(col)

TARGET
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
BASEMENTAREA_AVG
ENTRANCES_AVG
FLAG_DOCUMENT_20
FONDKAPREMONT_MODE
CNT_CHILDREN
FLAG_DOCUMENT_15
FLAG_EMAIL
OWN_CAR_AGE
TOTALAREA_MODE
FLOORSMIN_AVG
FLOORSMIN_MODE
ORGANIZATION_TYPE
NONLIVINGAREA_AVG
HOUSETYPE_MODE
LANDAREA_AVG
DAYS_ID_PUBLISH
ELEVATORS_AVG
COMMONAREA_MODE
FLAG_DOCUMENT_21
FLAG_PHONE
YEARS_BUILD_AVG
COMMONAREA_AVG
LIVE_CITY_NOT_WORK_CITY
REG_CITY_NOT_LIVE_CITY
LIVINGAPARTMENTS_MEDI
FLAG_DOCUMENT_10
FLAG_DOCUMENT_17
AMT_GOODS_PRICE
WEEKDAY_APPR_PROCESS_START_x
WALLSMATERIAL_MODE_x
FLAG_OWN_CAR_x
AMT_REQ_CREDIT_BUREAU_HOUR_x
FLAG_DOCUMENT_11_x
REGION_POPULATION_RELATIVE_x
NONLIVINGAPARTMENTS_AVG_x
DAYS_EMPLOYED_x
CNT_FAM_MEMBERS_x
FLAG_DOCUMENT_16_x
WEEKDAY_APPR_PROCESS_START_y
WALLSMATERIAL_MODE_y
FLAG_OWN_CAR_y
AMT_REQ_CREDIT_BUREAU_HOUR_y
FLAG_DOCUMENT_11_y
REGION_POPULATION_RELATIVE_y
NONLIVINGAPARTMENTS_AVG_y
DAYS_EMPLOYED_y
CNT_FAM_MEMBERS_y
FLAG_DOCUMENT_16_y
LIVE_REGION_NOT_WORK_REGION
REG_REGION_NOT_LIVE_REGION
NAME_HOUSING_TYPE
FLAG_DOCUMENT_2
NAME_CONTRACT_TYPE
APARTMENTS_MODE_x
FLAG_DOCUMENT_6_x
FLAG_OWN_REALTY_x
NONLIVINGAREA_MEDI_x
FLAG_DOCUMENT_3_x
FLAG_DOCUMENT_4_x
FLAG_DOCUMENT_18_x
NAME_TYPE_SUITE_x
FLOORSMAX_MEDI_x
AMT_REQ_CREDIT_BUREAU_DAY_x
APARTMENTS_MODE_y
FLAG_DOCUMENT_6_y
FLAG_OWN_REALTY_y
NONLIVINGAREA_MEDI_y
FLAG_DOCUMENT_3_y
FLAG_DOCUMENT_4_y
FLAG_DOCUMENT_18_y
NAME_TYPE_SUITE_y
FLOORSMAX_MEDI_y
AMT_REQ_CREDIT_BUREAU_DAY_y
FLAG_DOCUMENT_7_x
AMT_CREDIT_x
DEF_30_CNT_SOCIAL_CIRCLE_x
AMT_INCOME_TOTAL_x
LIVINGAPARTMENTS_AVG_x
FLAG_DOCUMENT_8_x
REG_REGION_NOT_WORK_REGION_x
OBS_60_CNT_SOCIAL_CIRCLE_x
YEARS_BEGINEXPLUATATION_AVG_x
FLOORSMAX_AVG_x
FLAG_DOCUMENT_7_y
AMT_CREDIT_y
DEF_30_CNT_SOCIAL_CIRCLE_y
AMT_INCOME_TOTAL_y
LIVINGAPARTMENTS_AVG_y
FLAG_DOCUMENT_8_y
REG_REGION_NOT_WORK_REGION_y
OBS_60_CNT_SOCIAL_CIRCLE_y
YEARS_BEGINEXPLUATATION_AVG_y
FLOORSMAX_AVG_y
REGION_RATING_CLIENT_W_CITY
EXT_SOURCE_1
DAYS_REGISTRATION
EXT_SOURCE_3
LIVINGAREA_MEDI
HOUR_APPR_PROCESS_START
FLOORSMIN_MEDI
FLAG_DOCUMENT_14
OCCUPATION_TYPE
LANDAREA_MEDI
REGION_RATING_CLIENT_W_CITY.1
EXT_SOURCE_1.1
DAYS_REGISTRATION.1
EXT_SOURCE_3.1
LIVINGAREA_MEDI.1
HOUR_APPR_PROCESS_START.1
FLOORSMIN_MEDI.1
FLAG_DOCUMENT_14.1
OCCUPATION_TYPE.1
LANDAREA_MEDI.1
AMT_ANNUITY
CODE_GENDER
EXT_SOURCE_2
FLAG_DOCUMENT_5
FLAG_EMP_PHONE
FLAG_WORK_PHONE
IS_KAEL
LIVINGAREA_AVG
NAME_FAMILY_STATUS
REGION_RATING_CLIENT
REG_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE_CAT
days_birth
flag_document_13
flag_document_9
name_education_type
name_income_type
obs_30_cnt_social_circle

In [21]:
df = pd.read_csv('../data/processed/master_2.csv', index_col=0)

In [24]:
df.columns.sort_values()

Index(['AMT_ANNUITY', 'AMT_CREDIT', 'AMT_GOODS_PRICE', 'AMT_INCOME_TOTAL',
       'CNT_CHILDREN', 'CODE_GENDER_M', 'DAYS_ID_PUBLISH',
       'DAYS_LAST_PHONE_CHANGE', 'DAYS_REGISTRATION',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'EXT_SOURCE_2',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18_x', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'FLAG_DOCUMENT_3_x', 'FLAG_DOCUMENT_4_x',
       'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6_x', 'FLAG_DOCUMENT_7',
       'FLAG_DOCUMENT_8', 'FLAG_EMAIL', 'FLAG_EMP_PHONE', 'FLAG_OWN_REALTY_x',
       'FLAG_PHONE', 'FLAG_WORK_PHONE', 'HOUR_APPR_PROCESS_START',
       'LIVE_CITY_NOT_WORK_CITY', 'LIVINGAREA_AVG',
       'NAME_FAMILY_STATUS_Married', 'NAME_FAMILY_STATUS_Separated',
       'NAME_FAMILY_STATUS_Single / not married', 'NAME_FAMILY_STATUS_Unknown',
       'NAME_FAMILY_STATUS_Widow', 'NAME_TYPE_SUITE_x_Children',
       'NAME_TYPE_SUITE_x_Family', 'NAME_TYPE_SUITE_x_Group of people',
       'NAME_TYPE_SUITE_x_Other_B', 'NAME_TYPE_SUITE_x_Spouse, partner',
       'NAME_TYPE_SUITE_x_Unaccompanied', 'NAME_TYPE_SUITE_x_�Q��',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'TARGET', 'days_birth', 'flag_document_13',
       'flag_document_9', 'name_education_type_Higher education',
       'name_education_type_Incomplete higher',
       'name_education_type_Lower secondary',
       'name_education_type_Secondary / secondary special',
       'name_income_type_Maternity leave', 'name_income_type_Pensioner',
       'name_income_type_State servant', 'name_income_type_Student',
       'name_income_type_Unemployed', 'name_income_type_Working',
       'obs_30_cnt_social_circle'],
      dtype='object')

## EXT SOURCE

In [42]:
master['EXT_SOURCE_2'] = pd.to_numeric(master['EXT_SOURCE_2'].apply(lambda x: x.split('%')[0]), errors='coerce') / 100

In [71]:
master['EXT_SOURCE'] = master[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)

In [74]:
master['EXT_SOURCE'] = master['EXT_SOURCE'].fillna(master['EXT_SOURCE'].mean())

In [82]:
df['EXT_SOURCE'] = master['EXT_SOURCE']

In [86]:
df = df.drop(columns='EXT_SOURCE_2')

## Flags

In [96]:
flags = []
pattern = re.compile("FLAG|flag")
for col in df.columns:
    if pattern.search(col):
        flags.append(col)

SK_ID_CURR
100004    4
100006    3
100012    2
100014    3
100015    3
100017    2
100018    3
100019    3
100030    4
100032    3
100034    2
100035    4
100040    3
100043    5
100045    3
100048    4
100049    4
100051    4
100055    4
100058    4
100059    4
100060    3
100062    2
100063    5
100069    3
100071    3
100078    3
100086    3
100088    1
100098    1
         ..
456184    2
456187    3
456195    5
456196    2
456198    3
456199    4
456205    2
456207    2
456210    5
456211    3
456213    5
456214    3
456215    3
456217    3
456219    5
456227    2
456228    4
456233    3
456234    4
456235    4
456236    3
456237    3
456239    3
456242    3
456244    4
456245    4
456246    4
456249    3
456252    3
456253    4
Length: 100000, dtype: int64

In [104]:
df['total_flags'] = df[flags].sum(axis=1) ** 2

In [109]:
df.to_csv('../data/processed/master_3.csv')