In [3]:
import requests
import pandas as pd

In [22]:
df = pd.DataFrame()
df_list = []
for i in range(1,51):
    url = 'https://api.hackathon-03.batch2.lisbondatascience.org/api/data?page_size=2000&page='+ str(i)
    payload = {'Authorization': 'token fe0bfd98e3920dd027bd4ca2f796b322e6f95c35'}
    result = requests.get(url,headers=payload).json()
    df_list.append(pd.DataFrame(result['results']))

In [24]:
merged_df = pd.concat(df_list)

In [26]:
merged_df.to_csv('../data/api_data.csv')

,amt_req_credit_bureau_qrt,apartments_avg,days_birth,emergencystate_mode,flag_document_12,flag_document_13,flag_document_9,name_education_type,name_income_type,obs_30_cnt_social_circle,sk_id_curr
0,0.0,0.03710,-23340,No,False,False,False,Secondary / secondary special,Pensioner,0,107434