In [15]:
%load_ext autoreload

In [30]:
import pandas as pd
%autoreload 2
from utils import clean_api_df
% matplotlib inline

In [36]:
df = pd.read_csv('../data/api_data.csv')
columns_to_drop = ['flag_document_12','Unnamed: 0',
                   'amt_req_credit_bureau_qrt','apartments_avg',
                   'emergencystate_mode']
df = clean_api_df(df,drop_columns=columns_to_drop)

In [37]:
df.nunique()

days_birth                   16975
flag_document_13                 2
flag_document_9                  2
name_education_type              5
name_income_type                 7
obs_30_cnt_social_circle        27
sk_id_curr                  100000
dtype: int64

In [38]:
df.isnull().sum()

days_birth                  0
flag_document_13            0
flag_document_9             0
name_education_type         0
name_income_type            0
obs_30_cnt_social_circle    0
sk_id_curr                  0
dtype: int64

,days_birth,flag_document_13,flag_document_9,name_education_type,name_income_type,obs_30_cnt_social_circle,sk_id_curr
0,-19046,False,False,Secondary / secondary special,Working,0,100004
1,-19005,False,False,Secondary / secondary special,Working,2,100006
2,-14469,False,False,Secondary / secondary special,Working,2,100012
3,-10197,False,False,Higher education,Working,0,100014
4,-20417,False,False,Secondary / secondary special,Pensioner,0,100015

In [40]:
df.to_csv('../data/api_data_clean.csv')